<div class="page-header">
	<h3 class="title">Sign In</h3>
</div>
<div class="sign-form">
	<div class="alert alert-danger alert-dismissable hide">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div>

	<form class="form-group" role="form">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i>
			</span>
			<input id="login-email" type="text" class="form-control" name="email" value="" placeholder="email address">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i>
			</span>
			<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
		</div>
		<div class="checkbox">
			<input id="login-remember" type="checkbox" name="remember" value="1">
			<span>Remember me</span>
		</div>
		<div class="control-group">
			<a id="btn-login" href="#" class="btn btn-success">Login  </a>
			<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
		</div>

		<div class="input-group">
			<div class="no-account">
				<span>Don't have an account!</span>
				<a href="#sign-up">Sign Up Here</a>
			</div>
		</div>
	</form>
</div>

