<div class="page-header">
	<h3 class="title">Sign Up</h3>
</div>
<div class="sign-form">
	<div class="alert alert-danger alert-dismissable hide">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<p class="form-alert"></p>
	</div>

	<form class="form-group" role="form">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			<input id="signup-username" type="text" class="form-control" name="username" value="" placeholder="username">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			<input id="signup-email" type="text" class="form-control" name="email" value="" placeholder="email">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-key"></i></span>
			<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-key"></i></span>
			<input id="login-confirm-password" type="confirm-password" class="form-control" name="confirm-password" placeholder="confirm password">
		</div>
		<div class="control-group sign-up">
			<a id="btn-login" href="#" class="btn btn-success">
				Proceed to Sign Up <i class="fa fa-hand-o-right"></i></a>
		</div>
	</form>
</div>

