$bjs-white           : #ffffff;
$bjs-orange          : #ff9a00;
$bjs-orange-light    : #ffc873;
$bjs-orange-dark     : #a66400;
$bjs-blue            : #0d56a6;
$bjs-blue-light      : #4186d3;
$bjs-blue-dark       : #04356c;
$bjs-orange-bg-dark  : #bf8730;
$bjs-blue-bg-dark    : #274f7d;
$bjs-orange-bg-light : #ffb440;
$bjs-blue-bg-light   : #689ad3;